<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pupil</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <security-role>
    <role-name>Admin</role-name>
  </security-role>
  <security-role>
    <role-name>Member</role-name>
  </security-role>
  <security-role>
    <role-name>Guest</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>https</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/Loginpage.jsp</form-login-page>
      <form-error-page>/LoginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <error-page>
    <exception-type>java.lang.throwable</exception-type>
    <location>/errorpage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/notfounderror.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.pupil.listener.MyServletContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>dburl</param-name>
    <param-value>jdbc:mysql://localhost:3306/student_jobservices?jdbcCompliantTruncation=false</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>csusu2013</param-value>
  </context-param>
  <servlet>
    <servlet-name>SignUpForm</servlet-name>
    <servlet-class>com.pupil.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpForm</servlet-name>
    <url-pattern>/signup.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAccountIntoDb</servlet-name>
    <servlet-class>com.pupil.CreateAccountInDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountIntoDb</servlet-name>
    <url-pattern>/createaccount.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentProfile</servlet-name>
    <servlet-class>com.pupil.GetStudentProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentProfile</servlet-name>
    <url-pattern>/profile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateStudentProfile</servlet-name>
    <servlet-class>com.pupil.UpdStudentProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStudentProfile</servlet-name>
    <url-pattern>/updateProfile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createJob</servlet-name>
    <servlet-class>com.pupil.CreateJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createJob</servlet-name>
    <url-pattern>/createjob.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createJobInDB</servlet-name>
    <servlet-class>com.pupil.CreateJobInDb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createJobInDB</servlet-name>
    <url-pattern>/createjobindb.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>groupJobs</servlet-name>
    <servlet-class>com.pupil.GroupJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>groupJobs</servlet-name>
    <url-pattern>/groupJobs.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewjobslist</servlet-name>
    <servlet-class>com.pupil.ViewJobsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewjobslist</servlet-name>
    <url-pattern>/viewjobs.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewjobindetail</servlet-name>
    <servlet-class>com.pupil.ViewJobInDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewjobindetail</servlet-name>
    <url-pattern>/viewjobindetail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editJobDetails</servlet-name>
    <servlet-class>com.pupil.EditJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editJobDetails</servlet-name>
    <url-pattern>/editjob.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateJobDetails</servlet-name>
    <servlet-class>com.pupil.UpdateJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateJobDetails</servlet-name>
    <url-pattern>/updatejob.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>applyThisJob</servlet-name>
    <servlet-class>com.pupil.ApplyJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applyThisJob</servlet-name>
    <url-pattern>/applyjob.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getResume</servlet-name>
    <servlet-class>com.pupil.GetResume</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getResume</servlet-name>
    <url-pattern>/getresume.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>applythisjob</servlet-name>
    <servlet-class>com.pupil.ApplyThisJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applythisjob</servlet-name>
    <url-pattern>/applytothisjob.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgotuserpassword</servlet-name>
    <servlet-class>com.pupil.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotuserpassword</servlet-name>
    <url-pattern>/forgotpassword.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validateemail</servlet-name>
    <servlet-class>com.pupil.SendNewPasswordLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateemail</servlet-name>
    <url-pattern>/fenteremail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewapplicantslist</servlet-name>
    <servlet-class>com.pupil.ViewJobApplicants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewapplicantslist</servlet-name>
    <url-pattern>/viewapplicants.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewapplicantprofile</servlet-name>
    <servlet-class>com.pupil.ViewApplicantProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewapplicantprofile</servlet-name>
    <url-pattern>/viewapplicantprofile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getapplicantsresume</servlet-name>
    <servlet-class>com.pupil.ApplicantsResume</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getapplicantsresume</servlet-name>
    <url-pattern>/getappresume.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newemployer</servlet-name>
    <servlet-class>com.pupil.CreateNewEmployer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newemployer</servlet-name>
    <url-pattern>/createnewemployer.do</url-pattern>
  </servlet-mapping>   
</web-app>